.banner, .banner img{
	width: 100%;
}
.div_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #002640;
  opacity: .80;
  -webkit-opacity: .8;
  -moz-opacity: .8;
  filter: alpha(opacity=80);
  z-index: 820;
}


.div_contenido {
  background-color: #ecf0f5;
  box-shadow: 0 0 20px 0 #222;
  -webkit-box-shadow: 0 0 20px 0 #222;
  -moz-box-shadow: 0 0 20px 0 #222;
  display: none;
  height: auto;
  margin-left: 2%;
  margin-right: 2%;
  left: 0;
  right: 0;
  padding: 10px;
  position: absolute;
  top: -25px;
  width: auto;
  min-height: 90%;
  z-index: 830;
}

.label1{
  font-size: 18px;
  padding-right: 10px;
  font-weight: bold;
}

.btn_img{
  background-image: url(/img/check.png);
  border: none;
  width: 34px;
  height: 34px;
}

.btn_inv{
  display: none;
}

#tabla_cursos_no_mat tr:hover td{
  background: #9EE9F1;
}

.inputS{
  border: none;
  font-size: 24px;
}

.inputS:disabled{
  background: none;
}

.inputN{
   border: none;
  font-size: 18px;
    color: #9E9E9E;
}

.inputN:disabled{
  background: none;
}

.row_oscura{
  background: gray;
}

.conB{
  margin: 3px 0px;
  padding: 5px;
  border: 1px dotted black;
}
.hiddenclass{
  display: none;
}
.visibleclass{
  display: table;

}


.tituloP{
    color: #039BE5;
    font-size: 20px;
}

.notesP{
    color: #9E9E9E;
}

th{
    background-color: #E3F2FD;
    
}


.opacity{
    opacity: 0.50;
}


#main_table tr{
    cursor: pointer;
}
